.Main_Box{
    width: 100%;
    min-width: 45vw;
    flex-wrap: wrap;
    border-radius: 1.5rem;
}




.mainBox-leftside,.mainBox-rightside {
    width: 50%;
    padding: 2rem;
}
.mainBox-leftside{
    border-radius: 1.5rem;
}

@media screen and (max-width:600px) {
 
    .mainBox-leftside,.mainBox-rightside {
        width: 100%;
        padding: 2rem;
    }
    
}



.right_side_empty_image{
    width: 50%;
    margin: 0 auto;

}

.empty_state_home_image {
    width: 300px;
    margin:  0 auto;
}


.mainheading_topleft{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.inputfield {
    margin-bottom: .5rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1rem;

}
.inputfield label {
    width: 100%;
    margin-bottom: .3rem;
    
}
.inputfield input {
    width: 100%;
    margin-bottom: .5rem;
    padding: .5rem;
    background-color: rgb(255, 255, 255);
    border-radius: .3rem;
    font-size: .95rem;
}


.inputfield_rightside input{
  background-color: rgb(241, 241, 241);
}

.all_lists_parent{
    max-height: 200px ;
    overflow: auto;
    padding-right: .2rem;
    margin-top: .5rem;
}

.balence_left_box{
    border-bottom: 1px solid rgb(255, 229, 212);
    margin-bottom: .8rem;
}



.filter_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.empty_state_ExpenseList_right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.right_side_empty_image {
    margin: 2rem auto;
}



.rightForms{
    position: relative;
}


.balenceLeft{
    position: absolute;
    top: 0px;
    right: 0%;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 1px solid rgba(154, 127, 117, 0.326);

}


@media screen and (max-width:600px) {
    .FormOf{
        position: absolute;
        top: 0rem;
        right: 2%;
        border-radius: 1rem;
        padding: 0.3rem 0rem;
        width: 30%;
        margin-top: .5rem;
        }

        .input_amount_form_section{
            margin-top: .5rem;
        }
        
        .all_lists_parent{
            max-height: 500px ;
            overflow: auto;
            padding-right: .2rem;
            margin-top: .5rem;
        }
}