.Main_Box{
    width: 100%;
    min-width: 45vw;
    flex-wrap: wrap;
    border-radius: 2rem;
}




.mainBox-leftside,.mainBox-rightside {
    width: 50%;
    padding: 2rem;
}
.mainBox-leftside{
    border-radius: 2rem;
}

@media screen and (max-width:600px) {
 
    .mainBox-leftside,.mainBox-rightside {
        width: 100%;
        padding: 2rem;
    }
    
}



.right_side_empty_image{
    width: 50%;
    margin: 0 auto;

}

.empty_state_home_image {
    width: 300px;
    margin:  0 auto;
}


.mainheading_topleft{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.inputfield {
    margin: 1rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

}
.inputfield label {
    width: 100%;
    margin-bottom: .5rem;
    
}
.inputfield input {
    width: 100%;
    margin-bottom: .5rem;
    padding: .5rem;
    background-color: rgb(255, 255, 255);
    border-radius: .3rem;
}


.inputfield_rightside input{
  background-color: rgb(241, 241, 241);
}

.all_lists_parent{
    max-height: 130px ;
    overflow: auto;
    padding-right: .2rem;
    margin-top: .5rem;
}

.balence_left_box{
    border-bottom: 1px solid rgb(255, 229, 212);
    margin: .5rem 0;
}



.filter_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.empty_state_ExpenseList_right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}